<footer class="footer">
  <div class="container">
    <div class="footer-block flex">
      <span class="footer-block__text">
        Page loading time:
      </span>

      <div class="footer-block__text">
        <span class="footer-block__node">
          Client:
        </span>

        <span class="footer-block__time footer-block__time_client">
        </span>
      </div>

      <div class="footer-block__text">
        <span class="footer-block__node">
          Server:
        </span>

        <span class="footer-block__time footer-block__time_server">
          {{ processingTime }} seconds
        </span>
      </div>
    </div>
  </div>
</footer>
