<table class="client-table grid">
  <thead class="client-table__head">
    <tr class="client-table__row">
      <th class="client-table__main-col client-table__main-col_id flex">
        <button class="client-table__main-button flex button-reset">
          <span class="client-table__text client-table__text_unique sort-label sort-label_neutral">
            ID
          </span>
        </button>
      </th>

      <th class="client-table__main-col client-table__main-col_full-name flex">
        <button class="client-table__main-button flex button-reset">
          <span class="client-table__text sort-label sort-label_neutral">
            Фамилия Имя Отчество
          </span>

          <span class="client-table__text client-table__text_bold">
            А-Я
          </span>
        </button>
      </th>

      <th class="client-table__main-col client-table__main-col_date-creation flex">
        <button class="client-table__main-button flex button-reset">
          <span class="client-table__text">
            Дата и&nbsp;время
          </span>

          <span class="client-table__text sort-label sort-label_neutral">
            создания
          </span>
        </button>
      </th>

      <th class="client-table__main-col client-table__main-col_date-change flex">
        <button class="client-table__main-button flex button-reset">
          <span class="client-table__text">
            Последние
          </span>

          <span class="client-table__text sort-label sort-label_neutral">
            изменения
          </span>
        </button>
      </th>

      <th class="client-table__main-col client-table__main-col_contacts flex">
        Контакты
      </th>

      <th class="client-table__main-col client-table__main-col_actions flex">
        Действия
      </th>
    </tr>
  </thead>

  <tbody class="client-table__body">
  </tbody>
</table>
