<section class="crm-panel">
  <h1 class="crm-panel__title">
    Клиенты
  </h1>

  <div class="crm-panel__wrapper flex">
    {{> index/main/crmPanel/clientTable }}
    <button class="crm-panel__button button-reset">
      Добавить клиента
    </button>
  </div>
</section>
